<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosplay Quest</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/info">Info</a>
        <a href="/character-list">Characters</a>
        <a href="/feedback">Feedback</a>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>