{% extends "base.html" %}

{% block content %}
<div class="image-container">
    <div class="marching-box">
        <span class="eighth-width">
            <img src="{{ url_for('static', path='/images/blobby.png') }}" alt="Marching image" class="marching-image">
        </span>
        <span class="eighth-width">
            <img src="{{ url_for('static', path='/images/blobby_cat.png') }}" alt="Marching image" class="marching-image">
        </span>
        <span class="eighth-width">
            <img src="{{ url_for('static', path='/images/blobby_maid.png') }}" alt="Marching image" class="marching-image">
        </span>
        <span class="eighth-width">
            <img src="{{ url_for('static', path='/images/blobby_super.png') }}" alt="Marching image" class="marching-image">
        </span>
        <span class="eighth-width">
            <img src="{{ url_for('static', path='/images/blobby.png') }}" alt="Marching image" class="marching-image">
        </span>
        <span class="eighth-width">
            <img src="{{ url_for('static', path='/images/blobby_cat.png') }}" alt="Marching image" class="marching-image">
        </span>
        <span class="eighth-width">
            <img src="{{ url_for('static', path='/images/blobby_maid.png') }}" alt="Marching image" class="marching-image">
        </span>
        <span class="eighth-width">
            <img src="{{ url_for('static', path='/images/blobby_super.png') }}" alt="Marching image" class="marching-image">
        </span>
    </div>
</div>
<div class="container">
    <h1>Welcome to Cosplay Quest</h1>
    <p>Embark on an adventure in the world of cosplay with our exciting app!</p>

    <form hx-post="/beta-signup" hx-swap="innerHTML scroll" hx-target="#responseMessage">
        <h2>Sign up to be part of the beta!</h2>
        <label for="name">Name <span style="color: red;">*</span></label>
        <input type="text" id="name" name="name" placeholder="name" required />
        <label for="email">Email Address <span style="color: red;">*</span></label>
        <input type="email" id="email" name="email" placeholder="email" required />
        <label for="device_os">Device OS <span style="color: red;">*</span></label>
        <select id="device_os" name="device_os" required>
            <option value="android">Android</option>
            <option value="ios">iOS</option>
        </select>
        <label for="next_con">What is the next cosplay event you plan on attending?</label>
        <input type="text" id="next_con" name="next_con" placeholder="next cosplay event" />
        <label for="next_con_date">When does it take place?</label>
        <input type="date" id="next_con_date" name="next_con_date" />
        <div class="switchbox">
            <label class="switch">
                <input type="checkbox" id="will_cosplay" name="will_cosplay" hx-get="/toggle-character-form"
                    hx-target="#character_form_container" hx-swap="innerHTML">
                <span class="slider round"></span>
            </label>
            <label for="will_cosplay" class="switchlabel">I am going to cosplay.</label>
        </div>
        <div id="character_form_container" class="fillable_div"></div>
        <p><i><span style="color: red;">*</span> indicates a required field.</i></p>
        <input type="submit" value="Submit" class="button button-primary" />
    </form>
    <div id="responseMessage"></div>

    <!-- <div class="cta-buttons">
        <a href="#" class="button button-primary">Download for iOS</a>
        <a href="#" class="button button-secondary">Download for Android</a>
    </div> -->

    <div class="features">
        <h2>Key Features</h2>
        <ul>
            <li>Interact with the Cosplay Community, and have fun doing it.</li>
            <li>Edit and add Frames to your Photos of Cosplayers.</li>
            <li>Filter taken Photos by Character, Franchise, or Convention.</li>
        </ul>
    </div>

    <div class="app-preview">
        <img src="{{ url_for('static', path='/images/app-preview.jpg') }}" alt="Cosplay Quest App Preview">
    </div>
</div>
{% endblock %}